<html>
  <header id="header">
    <p class="paddingMaterial">Material Design</p>
    <div class="flex-box padding">
      <h1 style="font-size: 30px">Simple Chat Application</h1>
      <button mat-button class="button" (click)="onAddPerson()">
        <mat-icon>add</mat-icon> ADD NEW PERSON
      </button>
    </div>
  </header>

  <hr class="line" />

  <body style="padding-top: 10px">
    <div class="flex-box padding">
      <div class="grid">
        <ng-container #container></ng-container>
      </div>
      <div class="container">
        <app-chat-history></app-chat-history>
      </div>
    </div>
  </body>
</html>
